[submodule "vendor/animCJK"]
	path = vendor/animCJK
	url = https://github.com/parsimonhi/animCJK.git
[submodule "vendor/animNumber"]
	path = vendor/animNumber
	url = https://github.com/k1LoW/animNumber.git
[submodule "vendor/subAnimJ"]
	path = vendor/subAnimJ
	url = https://github.com/k1LoW/subAnimJ.git
